<div class="container">
<h5> Login </h5>
<%= flash[:no_user] %>
<form action="/login_user" method="post">
	 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	 <div class="input-field">
	 	<input type="text" name="email" id="email">
	 	<label for="email">Email</label>
	 </div>	 
	 <div class="input-field">
	 	<input type="password" name="password" id="password">
	 	<label for="password">Password</label>
	 </div>
	 <%= flash[:bad_password] %>
	 <a href="/">Click here to register</a>
	 <button class="btn waves-effect waves-light center-align" type="submit">Login</button>
</form>
</div>