<nav>
	<div class="nav-wrapper">
		<div class="container">
		<ul class="right">
			<li></li>
			<li></li>
			<li><a href="/logout" class="btn waves-effect waves-light center-align blue-grey" data-method="delete">Log Out</a></li>
		</ul>
		<div class="container">
	</div>
</nav>