// Place all the styles related to the Lenders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#lendMoney div {
	display: inline-block;
	width: 30%;
	margin-right: 2em;
}